body,
html {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.mainNav {}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.introText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    top: 40px;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px;
}